<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>


<div>
    <div style="background-color: black; width: 100%; height: 70px">
        <div style="color: white; margin-left: 12px;position: relative">
            <p>
            <div><i>&copy;All Rights Reserved</i>
            <span style="text-align: center;padding-left: 30%"><i>Promoted by Hemraj</i></span>
            <span style="padding-left: 40%;"><i><a href="#" style="color:white;"><u> Back to Top</u></a></i></span></div>
            </p>
        </div>


    </div>
</div>


</body>
</html>