{% extends 'quantum/base.html' %}
{% load static %}

{% block contact %}
    <head>
        <title></title>
    </head>
    <div class="container">
        <main role="main">
            <section class="jumbotron text-center" style="background-color: gold">
                <div class="container">

                    <p class="lead text-muted">Imagination is more power than knowledge. "Hemraj luv".</p>
                    {% if user.is_authenticated %}
                    <p>
                        <h3>Welcome {{ user.username|capfirst }}  To The 'Environment Of Quantum Series'.!</h3>

                    </p>
                    {% endif %}
                </div>
            </section>
        </main>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
		
			
		
	
	
		
                
                <div class="col-md-4" style="float: left;">
                            <div class="card mb-4 shadow-sm" style="background-color: gold">
                                <h5 style="color: green">CD (part-1) Unit: 1-2</h5>
                                <div class="card-body">
                                    <img src="{% static 'quantum/images/cd.jpg' %}" alt="image" height="100px" width="100px" style="padding-left:5px ">
                                    <img src="{% static 'quantum/images/pdf_download.png' %}" alt="image" height="100px"
                                         width="100px" style="padding-left: 6px">
                                    <div class="d-flex justify-content-between align-items-center">
                                    <span class="btn-group">

                                        <a href="{% static 'quantum/images/CD part 1.pdf' %}" class="btn btn-sm btn-outline-secondary"
                                           style="background-color:blue; color: white">read
                                            Quantum
                                        </a>
                                       <abbr title="Computer Design, size: 9MB"><a href="{% static 'quantum/images/CD part 1.pdf' %}" download class="btn btn-sm btn-outline-secondary"
                                         style="background-color:blue; color: white;">Download Pdf
                                      </a></abbr></span>

                                    </div>
                                    <small class="text-muted" style="float: right">May 20,2020 4:09 a.m.</small>
                                </div>
                            </div>
                        </div>










			 <div class="col-md-4" style="float: left;">
                            <div class="card mb-4 shadow-sm" style="background-color: gold">
                                <h5 style="color: green">CD (part-2) Unit: 3-4-5</h5>
                                <div class="card-body">
                                     <img src="{% static 'quantum/images/cd.jpg' %}" alt="image" height="100px" width="100px" style="padding-left:5px ">
                                    <img src="{% static 'quantum/images/pdf_download.png' %}" alt="image" height="100px"
                                         width="100px" style="padding-left: 6px">
                                    <div class="d-flex justify-content-between align-items-center">
                                    <span class="btn-group">

                                       <a href="{% static 'quantum/images/CD part 2.pdf' %}" class="btn btn-sm btn-outline-secondary"
                                           style="background-color:blue; color: white">read
                                            Quantum
                                      </a>
                                      <abbr title="Computer Design, size: 10MB"><a href="{% static 'quantum/images/CD part 2.pdf' %}" download class="btn btn-sm btn-outline-secondary"
                                         style="background-color:blue; color: white;">Download Pdf
                                      </a></abbr></span>

                                    </div>
                                    <small class="text-muted" style="float: right">May 20,2020 4:09 a.m.</small>
                                </div>
                            </div>
                        </div>



		








			<div class="col-md-4" style="float: left;">
                            <div class="card mb-4 shadow-sm" style="background-color: gold">
                                <h5 style="color: green">CG (part-1) Unit: 1-2</h5>
                                <div class="card-body">
                                     <img src="{% static 'quantum/images/cg.jpg' %}" alt="image" height="100px" width="100px" style="padding-left:5px ">
                                    <img src="{% static 'quantum/images/pdf_download.png' %}" alt="image" height="100px"
                                         width="100px" style="padding-left: 6px">
                                    <div class="d-flex justify-content-between align-items-center">
                                    <span class="btn-group">

                                       <a href="{% static 'quantum/images/CG 1-2 UNITS.pdf' %}" class="btn btn-sm btn-outline-secondary"
                                           style="background-color:blue; color: white">read
                                            Quantum
                                      </a>
                                      <abbr title="Computer Design, size: 9MB"><a href="{% static 'quantum/images/CG 1-2 UNITS.pdf' %}" download class="btn btn-sm btn-outline-secondary"
                                         style="background-color:blue; color: white;">Download Pdf
                                      </a></abbr></span>

                                    </div>
                                    <small class="text-muted" style="float: right">May 20,2020 4:09 a.m.</small>
                                </div>
                            </div>
                        </div>










			<div class="col-md-4" style="float: left;">
                            <div class="card mb-4 shadow-sm" style="background-color: gold">
                                <h5 style="color: green">CG (part-2) Unit: 3-4-5</h5>
                                <div class="card-body">
                                     <img src="{% static 'quantum/images/cg.jpg' %}" alt="image" height="100px" width="100px" style="padding-left:5px ">
                                    <img src="{% static 'quantum/images/pdf_download.png' %}" alt="image" height="100px"
                                         width="100px" style="padding-left: 6px">
                                    <div class="d-flex justify-content-between align-items-center">
                                    <span class="btn-group">

                                       <a href="{% static 'quantum/images/CG 3-4-5.pdf' %}" class="btn btn-sm btn-outline-secondary"
                                           style="background-color:blue; color: white">read
                                            Quantum
                                      </a>
                                      <abbr title="Computer Design, size: 8MB"><a href="{% static 'quantum/images/CG 3-4-5.pdf' %}" download class="btn btn-sm btn-outline-secondary"
                                         style="background-color:blue; color: white;">Download Pdf
                                      </a></abbr></span>

                                    </div>
                                    <small class="text-muted" style="float: right">May 20,2020 4:09 a.m.</small>
                                </div>
                            </div>
                        </div>






			<div class="col-md-4" style="float: left;">
                            <div class="card mb-4 shadow-sm" style="background-color: gold">
                                <h5 style="color: green">DWDM (part-1) Unit:1-2</h5>
                                <div class="card-body">
                                     <img src="{% static 'quantum/images/dwdm.jpg' %}" alt="image" height="100px" width="100px" style="padding-left:5px ">
                                    <img src="{% static 'quantum/images/pdf_download.png' %}" alt="image" height="100px"
                                         width="100px" style="padding-left: 6px">
                                    <div class="d-flex justify-content-between align-items-center">
                                    <span class="btn-group">

                                       <a href="{% static 'quantum/images/DWDM unit 1-2.pdf' %}" class="btn btn-sm btn-outline-secondary"
                                           style="background-color:blue; color: white">read
                                            Quantum
                                      </a>
                                      <abbr title="Computer Design, size: 8MB"><a href="{% static 'quantum/images/DWDM unit 1-2.pdf' %}" download class="btn btn-sm btn-outline-secondary"
                                         style="background-color:blue; color: white;">Download Pdf
                                      </a></abbr></span>

                                    </div>
                                    <small class="text-muted" style="float: right">May 20,2020 4:12 a.m.</small>
                                </div>
                            </div>
                        </div>








                     <div class="col-md-4" style="float: left;">
                            <div class="card mb-4 shadow-sm" style="background-color: gold">
                                <h5 style="color: green">DWDM (part-2) Unit:3-4</h5>
                                <div class="card-body">
                                     <img src="{% static 'quantum/images/dwdm.jpg' %}" alt="image" height="100px" width="100px" style="padding-left:5px ">
                                    <img src="{% static 'quantum/images/pdf_download.png' %}" alt="image" height="100px"
                                         width="100px" style="padding-left: 6px">
                                    <div class="d-flex justify-content-between align-items-center">
                                    <span class="btn-group">

                                       <a href="{% static 'quantum/images/DWDM Unit 3-4.pdf' %}" class="btn btn-sm btn-outline-secondary"
                                           style="background-color:blue; color: white">read
                                            Quantum
                                      </a>
                                      <abbr title="Computer Design, size: 7MB"><a href="{% static 'quantum/images/DWDM Unit 3-4.pdf' %}" download class="btn btn-sm btn-outline-secondary"
                                         style="background-color:blue; color: white;">Download Pdf
                                      </a></abbr></span>

                                    </div>
                                    <small class="text-muted" style="float: right">May 20,2020 4:12 a.m.</small>
                                </div>
                            </div>
                        </div>




                      
                          <div class="col-md-4" style="float: left;">
                            <div class="card mb-4 shadow-sm" style="background-color: gold">
                                <h5 style="color: green">DWDM (part-3) Unit:5</h5>
                                <div class="card-body">
                                     <img src="{% static 'quantum/images/dwdm.jpg' %}" alt="image" height="100px" width="100px" style="padding-left:5px ">
                                    <img src="{% static 'quantum/images/pdf_download.png' %}" alt="image" height="100px"
                                         width="100px" style="padding-left: 6px">
                                    <div class="d-flex justify-content-between align-items-center">
                                    <span class="btn-group">

                                       <a href="{% static 'quantum/images/DWDM Unit 5.pdf' %}" class="btn btn-sm btn-outline-secondary"
                                           style="background-color:blue; color: white">read
                                            Quantum
                                      </a>
                                      <abbr title="Computer Design, size: 7MB"><a href="{% static 'quantum/images/DWDM Unit 5.pdf' %}" download class="btn btn-sm btn-outline-secondary"
                                         style="background-color:blue; color: white;">Download Pdf
                                      </a></abbr></span>

                                    </div>
                                    <small class="text-muted" style="float: right">May 20,2020 4:12 a.m.</small>
                                </div>
                            </div>
                        </div>





                         <div class="col-md-4" style="float: left;">
                            <div class="card mb-4 shadow-sm" style="background-color: gold">
                                <h5 style="color: green">Industrial Management (part-1) Unit:1</h5>
                                <div class="card-body">
                                     <img src="{% static 'quantum/images/im.jpg' %}" alt="image" height="100px" width="100px" style="padding-left:5px ">
                                    <img src="{% static 'quantum/images/pdf_download.png' %}" alt="image" height="100px"
                                         width="100px" style="padding-left: 6px">
                                    <div class="d-flex justify-content-between align-items-center">
                                    <span class="btn-group">

                                       <a href="{% static 'quantum/images/I M Unit 1.pdf' %}" class="btn btn-sm btn-outline-secondary"
                                           style="background-color:blue; color: white">read
                                            Quantum
                                      </a>
                                      <abbr title="Computer Design, size: 6.5MB"><a href="{% static 'quantum/images/I M Unit 1.pdf' %}" download class="btn btn-sm btn-outline-secondary"
                                         style="background-color:blue; color: white;">Download Pdf
                                      </a></abbr></span>

                                    </div>
                                    <small class="text-muted" style="float: right">May 20,2020 4:12 a.m.</small>
                                </div>
                            </div>
                        </div>






                   <div class="col-md-4" style="float: left;">
                            <div class="card mb-4 shadow-sm" style="background-color: gold">
                                <h5 style="color: green">Industrial Management (part-2) Unit:2-3</h5>
                                <div class="card-body">
                                     <img src="{% static 'quantum/images/im.jpg' %}" alt="image" height="100px" width="100px" style="padding-left:5px ">
                                    <img src="{% static 'quantum/images/pdf_download.png' %}" alt="image" height="100px"
                                         width="100px" style="padding-left: 6px">
                                    <div class="d-flex justify-content-between align-items-center">
                                    <span class="btn-group">

                                       <a href="{% static 'quantum/images/I M Unit 2-3.pdf' %}" class="btn btn-sm btn-outline-secondary"
                                           style="background-color:blue; color: white">read
                                            Quantum
                                      </a>
                                      <abbr title="Computer Design, size: 7.2MB"><a href="{% static 'quantum/images/I M Unit 2-3.pdf' %}" download class="btn btn-sm btn-outline-secondary"
                                         style="background-color:blue; color: white;">Download Pdf
                                      </a></abbr></span>

                                    </div>
                                    <small class="text-muted" style="float: right">May 20,2020 4:12 a.m.</small>
                                </div>
                            </div>
                        </div>

              


                        




                   <div class="col-md-4" style="float: left;">
                            <div class="card mb-4 shadow-sm" style="background-color: gold">
                                <h5 style="color: green">Industrial Management (part-3) Unit:4-5</h5>
                                <div class="card-body">
                                     <img src="{% static 'quantum/images/im.jpg' %}" alt="image" height="100px" width="100px" style="padding-left:5px ">
                                    <img src="{% static 'quantum/images/pdf_download.png' %}" alt="image" height="100px"
                                         width="100px" style="padding-left: 6px">
                                    <div class="d-flex justify-content-between align-items-center">
                                    <span class="btn-group">

                                       <a href="{% static 'quantum/images/I M unit 4-5.pdf' %}" class="btn btn-sm btn-outline-secondary"
                                           style="background-color:blue; color: white">read
                                            Quantum
                                      </a>
                                      <abbr title="Computer Design, size: 7.4MB"><a href="{% static 'quantum/images/I M unit 4-5.pdf' %}" download class="btn btn-sm btn-outline-secondary"
                                         style="background-color:blue; color: white;">Download Pdf
                                      </a></abbr></span>

                                    </div>
                                    <small class="text-muted" style="float: right">May 20,2020 4:12 a.m.</small>
                                </div>
                            </div>
                        </div>








                    {% for x in var %}
                        <div class="col-md-4" style="float: left;">
                            <div class="card mb-4 shadow-sm" style="background-color: gold">
                                <h5 style="color: green">{{ x.title }}</h5>
                                <div class="card-body">
                                    <img src="{{ x.img.url }}" alt="image" height="100px" width="100px" style="padding-left:5px ">
                                    <img src="{% static 'quantum/images/pdf_download.png' %}" alt="image" height="100px"
                                         width="100px" style="padding-left: 6px">
                                    <div class="d-flex justify-content-between align-items-center">
                                    <span class="btn-group">

                                        <a href="{{ x.pdf_body.url }}" class="btn btn-sm btn-outline-secondary"
                                           style="background-color:blue; color: white">read
                                            Quantum
                                        </a>


                                      <a href="{{ x.pdf_body.url }}" download class="btn btn-sm btn-outline-secondary"
                                         style="background-color:blue; color: white;">Download Pdf
                                       </a></span>

                                    </div>
                                    <small class="text-muted" style="float: right">{{ x.pub_date }}</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% include 'quantum/bottom.html' %}
{% endblock contact %}