{% extends 'quantum/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block contact %}
<head>
<title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sign Up Form </title>

        <!-- Font Icon -->
        <link rel="stylesheet"
              href="{% static 'quantum/material-design-iconic-font.css' %}">

        <!-- Main css -->
        <link rel="stylesheet" href="{% static 'quantum/style.css' %}">
    </head>
    <body style="background-color: gold">

<div class="main" style="background-color: gold">
<!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'quantum/images/cd.jpg' %}" width="70%" height="100%"
                                     alt="sing up image"></figure>
                        <a href="{% url 'signup' %}" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                          <div>
                            {% for message in messages %}
                                <div class="alert alert-success">
                                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                                    <p style="text-align: center">{{ message }}</p></div>
                            {% endfor %}
                        </div>
                        <h2 class="form-title">Sign In</h2>
                        <form method="POST" class="register-form" id="login-form" action="{% url 'login' %}">
                            {% csrf_token %}
                           <div class="form-group">
                                <label for="your_name"><i class="fa fa-user-secret"></i></label>
                                <input type="text" name="username_sign_in" id="your_name" placeholder="Your UserName"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="fa fa-lock"></i></label>
                                <input type="password" name="pass_sign_in" id="your_pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="fa fa-check"/>
                                <label for="remember-me" class="label-agree-term"><span class="fa fa-check"></span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <br><br>
                        <div class="btn-group btn-group-justified">
                            <span class="social-label">Or login with &nbsp;</span>
                            <button type="button" class="btn btn-success"><a href="#"><i class="fa fa-google" style="color: white"></i></a></button>&nbsp;
                            <button type="button" class="btn btn-warning"><a href="#"><i class="fa fa-facebook" style="color: white"></i></a></button>&nbsp;
                            <button type="button" class="btn btn-primary"><a href="#"> <i class="fa fa-twitter" style="color: white"></i></a></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
  </div>

{% include "quantum/bottom.html" %}

</body>

{% endblock %}
</html>