{% extends 'quantum/base.html' %}
{% load static %}
<head>
    body {
  background-image:url("{% static 'quantum/images/download.jpg' %}");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</head>

{% block contact %}
    <div class="container">
        <div class="container">
            <div class="container">
                <div class="container">
                    <div class="container">
                        <div class="container">
                            <body style="background-color: gold">
                            <br><br><br><br><br>
                            <div class="container">
                                <div class="container">
                                    <div class="container">
                                        <div class="container">
                                            <div class="container">
                                                <div class="container">
                                                    <h4>Thankyou for contacting me.I will contact you as soon as
                                                        possible.</h4></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </body>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}